/* Color Theme
#242526
#30BBF2
#2ECEF2
#F2E2CE
#F2C6C2
*/

/*----------------Box Sizing-----------------*/

html{
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing:inherit
}


/*------------Utility Styles-----------*/

.container {
    width: 80vw;
    margin: 40px auto;
    max-width: 900px;
}
.img-right {
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid #2ECEF2;
    padding: 5px;
    max-width: 33%;
}
.img-left {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #30BBF2;
    padding: 5px;
}
.img-center {
    display: block;
    margin: 20px auto;
    border: 1px solid #30BBF2
    padding: 5px;
}

/*------Responsive Images------*/
img{
    max-width: 100%;
    height: auto;
}

/*-------Glbal Styles--------*/
body {
    background-color: #ffffff;
}
body {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
}

header.primary{
    background-color: #ffffff;
    text-align: center;
    color: #F2C6C2;
    /* shorthand T,R,B,L*/
    padding: 6em 2em;
    position: relative;
}
header.primary::before {
    content: "";
    background-image: url("../img/header.jpeg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
header h1{
    font-size: 1.5rem;
    margin: 20px 0 0; 
    position: relative;
}
header.primary h1 a{
    color: #F2C6C2;
    background-image: url("../img/logo.PNG");
    display: block;
    width: 782px;
    height: 250px;
    margin: 0 auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

header.primary h2{
    position: relative;
    font-family: "Overpass", sans-serif;
    color:#2ECEF2;
    font-size: 1.3rem;
    /* Shorthand Three Value Top, Left/Right. Bottom*/
    letter-spacing: 1px;
    position: relative;
}

header.primary nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    max-width: 960px;
    margin: 20px auto;
}
nav.primary ul li{
    list-style-type: none;
}
nav.primary ul li a{
    color:#30BBF2;
    font-size: 1.5rem;
    text-decoration: none;
    border: 1px solid #000;
    padding: 5px 10px;
    background-color: #F2C6C2;
    background-color: rgba(242, 198, 194, .4);
    border-radius: 20px 0;
    transition: .4s;
}
nav.primary ul li a:hover{
    background-color: rgba(0,0,0,.8);
}
/*----------------Content----------*/

section#content {
    padding: 5em 0;
}
section#content h2 {
    font-family: "Overpass", sans-serif;
    color: #F2C6C2;
}
section#content h3{
    font-family: "Overpass", sans-serif;
    color: #30BBF2;
    font-size: 2.5rem;
}
section#content table{
    width: 100%;
    border: 2px solid #30BBF2;
    border-collapse: collapse;
}
section#content caption{
    font-weight: bold;
    font-size: 2.5rem;
    margin: 10px;
    font-family: "Overpass", sans-serif;
    font-size: 3rem;
    color: #2ECEF2;
}
section#content th{
    background: #000;
    color: #2ECEF2;
    text-align:left;
    padding: 10px;
}
section#content td{
    border: 2px solid #30BBF2;
    padding: 5px;
}
section#content tr:nth-child(even){
    background: #30BBF2;
}
section#content tr:hover{
    background: #F2C6C2;
}
/*----- Articles ------*/

section#articles {
    background: #F2C6C2;
}
section#articles .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid #000;
    padding: 0 0 3em 0;
}
section#articles h2, #content h2 {
    flex: 0 0 100%;
    color:#30BBF2;
    text-align: center;
}